extends layout

block content
  h1= title
  a.btn.btn-success(href='/districts/create') Create New District
  .container-fluid
    .row
      - let result = results
      each item, index in result
        .col-sm-2(onclick=`buy(${index})`)
          div name: #{item.name}
          div district_name: #{item.district_name}
          div district_population: #{item.district_population}
          div district_direction: #{item.district_direction}
          div district_area: #{item.district_area}
          - let destination = `dispatch("/districts/update?id=${item._id}")`
          button.btn(class="btn-primary ml-1", onclick=destination) Update
          - let detail = `/districts/detail?id=${item._id}`
          button.btn(class="btn-info ml-1", onclick=`dispatch("${detail}")`) Detail
          - let del = `/districts/delete?id=${item._id}`
          button.btn(class="btn-danger ml-1", onclick=`dispatch("${del}")`) Delete

  script.
    function buy(index) {
      alert(`You purchased item ${index}.`);
    }

    function dispatch(path) {
      window.location.href = path;
    }
