extends layout

block content
  h1= title
  .container-fluid
    .row
      - let result = results
      each item, index in result
        .col-sm-2(onclick=`buy(${index})`)
          div name: #{item.name}
          div district_name: #{item.district_name}
          div district_population: #{item.district_population}
          div district_direction: #{item.district_direction}
          div district_area: #{item.district_area}
          - let destination = `dispatch("/districts/update?id=${item._id}")`
          button.btn(class="btn-primary ml-1", onclick=destination) Update

  script.
    function buy(index) {
      alert(`You purchased item ${index}.`);
    }

    function dispatch(path) {
      window.location.href = path;
    }
