extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let districtid = toShow._id
    - let districtname = toShow.district_name
    - let districtpopulation = toShow.district_population
    - let districtdirection = toShow.district_direction
    - let districtarea = toShow.district_area
    - let actionid = "/resource/districts/" + districtid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='districtAttr mr-3') District ID is:
        div #{districtid}
      div.row
        div(class='districtAttr mr-3') District name is:
        div #{districtname}
      div.row
        div(class='districtAttr mr-3') District population is:
        div #{districtpopulation}
      div.row
        div(class='districtAttr mr-3') District direction is:
        div #{districtdirection}
      div.row
        div(class='districtAttr mr-3') District area is:
        div #{districtarea}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
      function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/districts'
      }

    script.
      function deleteOnid() {
        console.log("starting delete");
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded");
          window.location.href='/districts';
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error );
        });
      }
